body {
    background-color: seagreen;
    color: wheat;
    margin: 10px;
}

button {
    border-radius: 5px;
    background-color: tomato;
}

/* DEPARTMENT STYLES */
.department {
    margin: 20px 0;
}

.department-image {
    width: 100%;
    height: 200px;
}